titleWord{
    font-size:20px;
    color:red;
    border:2px gray solid;
    padding:2px 2px 2px 2px;
    margin: 10px;
}

titleWord:active{
    background-color: pink;
}

Display.skill{
    background-color: beige;
    display:none;
}

Display.story{
        background-color: lightcyan;
        display:none;

}

Display.profile{
    background-color: lavender;
    display:none;
}


p.titleHead{
  font-size:large;
  margin:1px 1px 1px 1px;
}

div.sentence{
    margin: 10px;

}
div.speace{
  margin: 10px;  
}

button.default {
    width: 80px;
    height: 30px;
    color: red;
}